body
{
	background-image: url('Image/background.png');
	background-size: 100vw 100vh;
}

div.vsetko
{
	background: white;
	width: 80vw;
	margin: auto;
}
/*
================================ Uvodne Info
*/
div.uvodneInf
{
	background-image: linear-gradient(#CCC, #FFF);
	height: 5vw;
	margin-top: 3vw;
	border-top: 0.2vw solid #00247d;
}

div.uvodneInf table
{
	float: right;
	border-spacing: 2vw 0;
	margin-top: 0.3vw;
}
div.uvodneInf td.logo
{
	width: 30vw;
}
div.uvodneInf img
{
	width: 15vw;
	height: 4vw;
}
div.uvodneInf td.privitanie
{
	width: 40vw;
	color: #00247d;
	font-size: 1.5vw;
	font-weight: bold;
}
div.uvodneInf td.kontakt
{
	text-align: right;
	color: #00247d;
	width: 10vw;
	font-weight: bold;
	font-size: 0.8vw;
}


/*
================================ Menu
*/
div.menu
{
	background-color: #fc741c;
	height: 3vw;
	line-height: 3vw;
	width: 80vw;
	color: #00247d;
	font-size: 1.5vw;
	font-weight: bold;
	display: inline-block;
}
div.menu a
{
	padding: 1vw;
	text-decoration: none;
}
div.menu a:hover
{
	background: #FF5500;
	padding: 1vw;
	text-decoration: none;
	color: white	
}
/*
================================ PosuvneObrazky ktore sa zatial neposuvaju
*/
div.posuvneObrazky
{
	background-image: url('Image/test.jpg');
	background-size: 80vw 25vw;
	background-repeat: no-repeat;
	height: 25vw;
}

/*
================================ INF v TABULKE
*/

div.tabulkaInf
{
	width: 80vw;
	margin: auto; 
}

div.tabulkaInf table 
{
	
	margin: auto;
	border-spacing: 0.5vw 0.5vw;
}

div.tabulkaInf td
{
	font-size: 1.1vw;
	color: #00247d;
	vertical-align: top;
	background: #CCC;
	width: 27vw;
	height: 15vw;
}

div.tabulkaInf div.menuHead
{
	background-color: #fc741c;
	color: white;
	font-weight: bold;
	font-size: 1.5vw;
	height: 2vw;
}

/*
================================ MENU V DOLNEJ CASTI
*/

div.dolneMenuUp
{
	margin-top: 1vw;
	height: 1.3vw; 
	margin-bottom: -1vw;
	color: #00247d;
	font-size: 1vw;
	text-align: center;
}
div.dolneMenuUp a
{
	padding: 0.3vw;
	text-decoration: none;
}
div.dolneMenuUp a:hover
{
	padding: 0.3vw;
	text-decoration: none;
	font-weight: bold;
}

div.dolneMenuDown
{
	font-weight: bold;
	height: 1.5vw; 
	border-top: 0.2vw solid #fc741c;
	margin-top: 1vw;
	text-align: right;
	color: #00247d;
	font-size: 1vw;
}

/*
================================ SKRYTE OKNO
*/

div#pozadie
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8) ;
	position: fixed;
	display: none;
}

div.textOkno
{
	width: 60vw;
	margin: auto;
	margin-top: 5%;
}

div.textBoxTop
{
	text-align:right;
	height: 2vw;
	background: #fc741c;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
}
div.textBoxBot
{
	height: 2vw;
	background: #fc741c;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

form.editBox
{
	text-align: center;
	height: 30vw;
	background-image: url('Image/background.png');
}
textarea#nazov
{
	margin-top: 1vw;
	width: 30vw;
	height: 4vw;
	background: #CCC;
	border-radius: 1vw;
	resize: none;
	text-align: center;
	font-weight: bold;
	color: #00247d;
	font-size: 2vw;
	padding: 0.5vw;
}
textarea#obsah
{
	width: 50vw;
	height: 16vw;
	background: #CCC;
	border-radius: 1vw;
	resize: none;
	font-weight: bold;
	color: #00247d;
	padding: 0.5vw;
	font-size: 1.2vw;
}
textarea#nazov:focus
{
	background: #AAA;
}
textarea#obsah:focus
{
	background: #AAA;
}

/*
================================ Buttony update pridaj delete
*/
span.Zobraz
{
	display: inline;
	background: #fc741c;
	color: #00247d;
	padding: 0.5vw;
	font-weight: bold;
	text-align: center;
	font-size: 1.6vw;
}

input#uloz
{
	width: 7vw;
	height: 3.2vw;
	font-size: 2vw;
}

span.zatvor
{
	font-size:2vw;
	padding: 0.5vw;
}
span.zatvor:hover
{
	cursor: pointer;
	color: #00247d;
	
}

span.Zobraz:hover
{
	cursor: pointer;
	background: #FF5500;
}
/*
================================ SKRYTE LEN NA ULOZENIE INF
*/
textarea#zmazId
{
	display: none;
}

input#update
{
	display: none;
}





